@model MaBiblio.ViewModels.LivreEmprunt

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fiche d'un livre</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>
                    Fiche d'un livre
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Titre</td>
                <td>@Model.Livre.Titre</td>
            </tr>
            <tr>
                <td>Date de parution</td>
                <td>@Model.Livre.Parution.ToString("dd/MM/yyyy")</td>
            </tr>
            @{
                if (@Model.Emprunteur != null)
                {
                    <tr>
                        <td>Emprunté par</td>
                        <td>@Model.Emprunteur.Nom</td>
                    </tr>  
                    <tr>
                        <td>Email</td>
                        <td>@Model.Emprunteur.Email</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Livre disponible</td>
                    </tr>
                }   
            }
        </tbody>
    </table>
</body>
</html>
